@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    color: white;
    font-family: cursive;
    font-size: 14px;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,121,88,0.90) 39%, rgba(0,212,255,1) 100%);
}

canvas {
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 16px;
}

.legend {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.legend .color-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #000;
}

.blue { background-color: blue; }
.green { background-color: green; }
.red { background-color: red; }

.github-link {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 36px; 
    color: #fff; 
    text-decoration: none; 
}

#reloadButton {
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 36px; 
    color: #fff; 
    text-decoration: none;
    background: transparent; 
}

#reloadButton:hover {
    color: #ff6b6b;
    animation: spin 0.5s ease-in-out;
}

.github-link:hover {
    color: #ccc;
}

